#application-input {
  width: calc(50% - 1.5em);
}

#application-output {
  width: calc(50% - 1.5em);
  float: right;
  overflow: hidden;
}

.select2-search__field {
  color: black;
}

.select2-results__option {
  color: black;
}

.select2-results strong {
  color: black !important;
}

.select-origin select option {
  color: black;
}

.big {
  font-size: 1.2em;
  font-weight: bold;
}

.small {
  font-size: 0.7em;
  display: block;
}

.bullet {
  font-family: FontAwesome;
  padding: 10px;
  color: red;
}
